<header>
    <div class="container inner">
        <div class="logo">
            <i class="uil uil-cell"></i>
            MANJESH CV
        </div>
        <div class="download">
            <button>
                <i class="uil uil-print"></i>
                Print
            </button>
        </div>
    </div>
</header>